<p>Dear {{name}},</p>
<b>You are simply awesome!</b>
<p>You know why? You just took the best decision of your life to commit yourself to staying fit.</p>
<p>I am Bhavishya Wadhawan, the founder of 98Fit and would like to thank you for joining our #98FitFam!</p>
<p>Every time we say 98Fit is all of fitness in one platform, we really mean it. We have designed this app to guide you with what to eat, ideal plan for workout and alongside help you improve your routine habits.</p>
<p>Going forward consider 98Fit as your fitness companion having mind of its own. It’s capable to prepare a new diet & workout plan daily considering your unique body parameters, preferences & lifestyle habits at absolutely ZERO cost.</p>
<p>Be assured, these plans would be super easy to follow and quick to show results. You’d be surprised to know 78% of our consumers told me they found our plans overwhelming the first time until they lost/gained 1-2 kgs at the end of second week.</p>
<p>Would love to connect with you, just hit the reply button and I would be happy to answer all your queries.</p>
<p>Verify your email by clicking the link below.</p>
{{link}}
<p>Yours Truly,</p>
<p>Bhavishya</p>
